## Using NumPy with ArcGIS: *FeatureClass to NumPy Arrays*

This notebook demonstrates how NumPy facilitates manipulation of feature class attribute data. By no means is this an in-depth introduction, let alone discussion, of NumPy, but it does at least familiarize you with what NumPy is about and how it can be used with ArcGIS feature classes. The links below provide more in-depth reading on NumPy and how it's used with feature classes.

Resources:
* https://jakevdp.github.io/PythonDataScienceHandbook/index.html#2.-Introduction-to-NumPy
* http://pro.arcgis.com/en/pro-app/arcpy/data-access/featureclasstonumpyarray.htm

In [1]:
#Import arcpy and numpy
import arcpy
import numpy as np

In [2]:
#Point to the HUC12.shp feature class in the Data folder (ensure it exists)
huc12_fc = '../Data/HUC12.shp'
print (arcpy.Exists(huc12_fc))

True

In [3]:
#List the fields contained in the "huc12_fc" feature class
[f.name for f in arcpy.ListFields(huc12_fc)]

['FID',
 'Shape',
 'OBJECTID_2',
 'OBJECTID',
 'HUC_8',
 'HUC_10',
 'HUC_12',
 'ACRES',
 'NCONTRB_A',
 'HU_10_GNIS',
 'HU_12_GNIS',
 'HU_10_DS',
 'HU_10_NAME',
 'HU_10_MOD',
 'HU_10_TYPE',
 'HU_12_DS',
 'HU_12_NAME',
 'HU_12_MOD',
 'HU_12_TYPE',
 'META_ID',
 'STATES',
 'GlobalID',
 'SHAPE_Leng',
 'GAZ_ID',
 'WBD_Date',
 'VPUID',
 'Shape_Le_1',
 'Shape_STAr',
 'Shape_STLe']

* Here,we convert the feature class to a NumPy array using ArcPy's [`FeatureClassToNumPyArray`](http://pro.arcgis.com/en/pro-app/arcpy/data-access/featureclasstonumpyarray.htm) function.

In [4]:
#List the fields we want to convert
fieldList = ["Shape@XY","HUC_8","HUC_12","ACRES"]
arrHUCS = arcpy.da.FeatureClassToNumPyArray(huc12_fc,fieldList)

In [5]:
#Display the type of the returned object
type(arrHUCS)

numpy.ndarray

* As a NumPy array, we can do different operations on the feature class. But first, let's inspect the array's properties.

In [6]:
#Reveal documentation on the ndarray object
arrHUCS?

In [7]:
#How many records does it contain
arrHUCS.size

210

In [8]:
#What are the data types stored in this array
print (arrHUCS.dtype)

[('Shape@XY', '<f8', (2,)), ('HUC_8', '<U8'), ('HUC_12', '<U12'), ('ACRES', '<f8')]

In [9]:
#Or, just what are the names of the "columns"
print (arrHUCS.dtype.names)

('Shape@XY', 'HUC_8', 'HUC_12', 'ACRES')

In looking at the data types, you notice that this NumPy array actually has multiple data types.


The ndarray object is actually a specific type of NumPy array - a **structured array**. (See https://jakevdp.github.io/PythonDataScienceHandbook/02.09-structured-data-numpy.html) A *structured array* is really just a collection of individual ndarrays, all of the same length, with each individual ndarray referenced by a field name. In other words, it's structured much like an attribute table where each field/column is it's own ndarray. 

Our `arrHUCs` structured array has 4 embedded "sub" arrays with the names `SHAPE@XY`, `HUC_8`, `HUC_12`, and `ACRES`)

Now, let's see what we can do with this...

### Selecting specific rows/columns/values from our NumPy array
* Numpy arrays allow **slicing**, much like familiar Python lists, enabling us to quickly nab subsets of data.

In [10]:
#Show the first row of data
print (arrHUCS[0])

([-79.93890576,  35.48508838], '03040103', '030401030503', 15414.)

In [11]:
#Show all data from the first 5 rows of data
print (arrHUCS[0:5])

[([-79.93890576,  35.48508838], '03040103', '030401030503', 15414.)
 ([-80.10361823,  35.47440895], '03040103', '030401030605', 42390.)
 ([-80.39449973,  35.87133309], '03040101', '030401011503', 32998.)
 ([-80.50179609,  35.89937972], '03040101', '030401011404', 29297.)
 ([-80.35986875,  34.82920682], '03040104', '030401040101', 14822.)]

In [14]:
#YOU TRY IT: Show all data from rows 10 thru 15
print(arrHUCS[9:15])

[([-80.74349003,  36.55573167], '03040101', '030401010804', 10389.0986449 )
 ([-80.76993095,  36.4982624 ], '03040101', '030401010703',  1165.65651233)
 ([-80.87183301,  36.51863643], '03040101', '030401010701',   886.50610243)
 ([-80.49255072,  35.2641331 ], '03040105', '030401050307', 33634.        )
 ([-79.79444406,  35.15382153], '03040104', '030401040505', 32563.        )
 ([-79.92153292,  35.22582556], '03040104', '030401040402', 27580.        )]

In [15]:
#Show the value of the 5th row in the `HUC_8' field
arrHUCS[4]['HUC_8']

'03040104'

In [16]:
#YOU TRY IT: Show the value in the ACRES field of the last row
arrHUCS[-1]['ACRES']

10563.0

In [17]:
#List all the HUC12s in the dataset
print (arrHUCS['HUC_12'])

['030401030503' '030401030605' '030401011503' '030401011404'
 '030401040101' '030401050602' '030401050603' '030401040102'
 '030401010802' '030401010804' '030401010703' '030401010701'
 '030401050307' '030401040505' '030401040402' '030401040401'
 '030401050305' '030401050405' '030401050403' '030401040204'
 '030401040202' '030401050304' '030401040306' '030401040305'
 '030401050105' '030401050401' '030401040201' '030401050201'
 '030401050404' '030401050402' '030401030505' '030401050203'
 '030401040303' '030401050303' '030401010603' '030401010303'
 '030401010304' '030401010306' '030401010403' '030401011302'
 '030401011001' '030401011002' '030401011005' '030401011006'
 '030401010904' '030401011004' '030401010104' '030401010202'
 '030401050702' '030401050306' '030401050601' '030401050502'
 '030401050501' '030401050504' '030401050503' '030401050506'
 '030401050701' '030401050704' '030401040301' '030401030105'
 '030401020504' '030401030601' '030401020304' '030401030207'
 '030401020402' '030401020403' '030401020401' '030401020301'
 '030401030406' '030401020603' '030401030304' '030401020108'
 '030401030103' '030401011504' '030401020103' '030401020109'
 '030401020601' '030401030403' '030401030206' '030401030401'
 '030401030104' '030401020206' '030401030204' '030401020102'
 '030401020105' '030401010103' '030401030404' '030401020107'
 '030401020101' '030401020602' '030401011502' '030401030402'
 '030401020106' '030401030205' '030401010201' '030401020104'
 '030401010203' '030401011308' '030401011403' '030401020205'
 '030401011402' '030401011401' '030401020204' '030401010301'
 '030401030201' '030401010206' '030401020201' '030401030203'
 '030401020203' '030401011501' '030401010307' '030401010302'
 '030401011103' '030401010401' '030401011307' '030401020202'
 '030401011203' '030401010407' '030401011303' '030401011305'
 '030401011306' '030401030202' '030401011101' '030401030603'
 '030401050202' '030401040304' '030401030604' '030401030504'
 '030401040302' '030401030303' '030401020503' '030401030502'
 '030401030101' '030401030301' '030401030302' '030401030305'
 '030401030501' '030401030102' '030401030405' '030401010803'
 '030401010805' '030401010801' '030401050406' '030401040203'
 '030401030602' '030401040103' '030401050505' '030401040501'
 '030401040506' '030401050604' '030401050706' '030401050507'
 '030401040502' '030401040205' '030401040504' '030401040403'
 '030401050708' '030401050703' '030401040404' '030401050707'
 '030401010105' '030401010102' '030401010101' '030401020501'
 '030401050302' '030401050106' '030401050102' '030401020502'
 '030401020302' '030401050301' '030401050103' '030401050101'
 '030401050104' '030401020303' '030401011301' '030401011007'
 '030401010601' '030401010204' '030401010402' '030401010205'
 '030401010305' '030401010602' '030401011202' '030401010605'
 '030401011102' '030401010406' '030401011201' '030401010606'
 '030401010607' '030401040104' '030401040105' '030401040503'
 '030401050705' '030401011304' '030401010604' '030401010404'
 '030401010503' '030401010502' '030401010705' '030401010405'
 '030401010903' '030401011003' '030401010504' '030401010702'
 '030401010501' '030401010704' '030401010806' '030401010902'
 '030401010901' '030401010807']

In [18]:
#YOU TRY IT: #List all the ACRES values in the dataset
print (arrHUCS['ACRES'])

[15414.         42390.         32998.         29297.
 14822.         21083.         11745.         26054.
 10907.619446   10389.0986449   1165.65651233   886.50610243
 33634.         32563.         27580.         20719.
 12768.         25867.          8008.         21240.
 11358.         23836.         31951.         18792.
 20165.         18520.         20796.          8818.
 35647.         21391.         20265.         29616.
 22263.         39307.          8217.         19168.
 18277.         31521.         14750.         22398.
 27157.         14810.         18870.         24683.
 17454.          9358.         32340.         24223.
 32153.         15766.         21601.          9366.
  9742.         38941.         22616.         25016.
 27058.         25726.         29255.         23405.
 17173.         21942.          7699.         16009.
 19311.         20836.         16998.         14560.
 25516.         14636.         31161.         18661.
 18061.         17485.         16059.         19243.
 18014.         24302.         19941.         27778.
 31556.         12864.         19104.         19136.
 22624.         17791.         31270.         12494.
 34212.         18912.         14080.         26444.
 22795.         11816.         13201.         19700.
 16515.         18340.         19441.         25311.
 14904.         19271.         21902.         15858.
 15828.         21239.         36517.         31294.
 17410.         27475.         16832.         11039.
 30077.         11537.         28475.         17536.
 33925.          9226.         12112.         17980.
 16578.         28859.         21137.         19787.
 32189.         20548.         24371.         28957.
 23318.         34418.         16767.         21057.
 30648.         28112.         21241.         17306.
 20037.         12725.          7211.         16075.0241935
 13695.0530108  22688.4055585  19487.         34639.
 13254.         28697.         17290.          9888.
 25058.         34026.         12473.         26878.
 14296.         21453.         15423.         10024.
 12719.         14049.         20080.         25830.
 14322.         27096.         21149.         24702.
 27567.         11685.         30931.         31931.
 15816.          9908.         26602.         18018.
 30493.         26341.         20905.         30343.
 11467.         23252.          7600.         22417.
 22238.         11216.         17564.         14031.
 28548.         10413.         16915.          9831.
  8983.         16201.         30032.          9125.
 18535.         26784.         23247.         27922.
 11756.         16103.         24285.         36264.
 11309.         10990.         22641.         17316.
 18730.         16920.         10109.         24602.
 25106.         10563.        ]

### Calculations
* We can also do rapid calculations with the data...

In [ ]:
#List the mean area of all HUCs
arrHUCS['ACRES'].mean()

In [ ]:
#List all the ACRES values, but in hectares (1 acre = 2.47105 ha)
arrHUCS['ACRES'] * 2.47105

In [19]:
#YOU TRY IT: What is the total area of all HUC12s, in hectares
arrHUCS['HUC_12'].()

TypeError: cannot perform reduce with flexible type

### Subsetting data with NumPy
We can also subset records in our array which we will do as a two step process. 
1. First we create a boolean **mask array**, that is an array of true and false values where a record is true if a condition is met. 
2. Then we **apply this mask** to our original array to isolate records where the mask is true

In [ ]:
#First we make a boolean mask and show the first 10 records
arrMask = (arrHUCS["HUC_8"] == '03040103')
arrMask[:10]

In [ ]:
#Now we apply the mask to isolate record where this is true
arrSelectedHUC8 = arrHUCS[arrMask]

In [ ]:
#The original array had 201 records, how many records does this have? 
print (arrSelectedHUC8.size)

In [ ]:
#Print the 11th row of our selected records
arrSelectedHUC8[10]

In [ ]:
#Calculate the mean area of these HUCs
arrSelectedHUC8['ACRES'].mean()

In [ ]:
#Plot a historam of HUC_12 areas
%matplotlib inline
import matplotlib.pyplot as plt
#import seaborn; seaborn.set()  # set plot style

In [ ]:
plt.hist(arrHUCS['ACRES']);
plt.title('Area Distribution of HUC_12s')
plt.xlabel('Area (acres)')
plt.ylabel('number');

### Recap
Converting our feature attribute table to a NumPy array opens the door to some rapid computations using NumPy's speedy capabilities - a vast improvment over using arcpy's cursor objects!